.DS_Store
data_redundancy.ipynb
.ipynb_checkpoints

# dont include models
/models/*.pt
/models/prot_t5_xl_bfd/*

# dont include data
/data/nsp3/training_data/*.npz
/data/nsp2/training_data/*.npz

# dont include computerome errors or logs
/notebooks/sh/errors/*